.profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 100px 50px;
  font-family: StarJedi;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profile__userInfo_container {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.profile__userInfo_container .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.3s ease;
  border: 2px transparent solid;
  cursor: default;
}
.profile__userInfo_container .avatar:hover,
.profile__userInfo_container .avatar:active {
  transform: none;
}
.profile__userInfo_top {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.profile_editprofile_btn {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  border: 2px solid rgb(19, 18, 18);
  letter-spacing: 2px;
  text-align: center;
  transition: all 0.35s;
  background: none;
  font-family: StarJediSe;
}
.profile_editprofile_btn:hover {
  color: #fff;
  cursor: pointer;
  background: black;
}

.profile__userInfo_bottom {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}
.profile__tabs {
  align-items: center;
  border-top: 1px solid #ccc;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.profile__tabs h3 {
  border-top: 2px solid #000;
  font-size: 0.8rem;
  padding-top: 0.8rem;
}
.profile__userInfo_bottom div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile__posts {
  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.profile__posts_postCard {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 280px;
  height: 280px;
  background: whitesmoke;
}
.profile__posts_postCard a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__posts_postCard:hover img {
  opacity: 0.4;
  z-index: 0;
}
.profile__posts_postCard:hover .postCard_info {
  opacity: 1;
  z-index: 1;
}
.profile__posts_postCard img {
  height: 90%;
  width: 90%;
  min-width: 240px;
  object-fit: contain;
  z-index: 2;
}
.postCard_info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
}

.postCard_info_likes,
.postCard_info_comments {
  display: flex;
  align-items: center;
  font-size: 23px;
  gap: 4px;
  justify-content: center;
}
