.Home {
  background-image: var(--background-img);
  background-position: center;
  background-color: #292828;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: StarJediSE;
  color: var(--font-color);
  transition: all 0.5s ease;
  overflow: scroll;
}
