.signUpForm_container {
  position: fixed;
  right: -110%;
  z-index: 2;
  top: 0px;
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: black;
  font-size: 3rem;
  transition: right 0.85s ease-in-out 0s;
  width: 400px;
}
.signUpForm_container.active {
  right: 0px;
}
.signUpForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 30px;
  font-family: StarJediOut;
  min-width: 350px;
}
.signUpForm_input_container {
  display: flex;
  flex-direction: column;
}
.signUpForm div input {
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  color: red;
  font-size: 20px;
}
.signUpForm__avatar_container {
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.signUpForm button {
  font-family: StarJedi;
  padding: 10px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: grey;
  transition: all 0.3s ease;
  cursor: pointer;
  width: fit-content;
  justify-self: center;
  align-self: center;
}
.signUpForm button:hover {
  transform: scale(1.2);
  color: red;
}
.signUpForm button:active {
  transform: scale(0.95);
}
.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 5px;
  background: none;
  outline: none;
  color: red;
  font-size: 40px;
  border: none;
  font-family: StarJedi;
  cursor: pointer;
}
.close_button:hover {
  transform: scale(1.1);
}
.close_button:active {
  transform: scale(0.95);
}
@media screen and (max-width: 600px) {
  .signUpForm_container {
    right: -250%;
  }
  .signUpForm_container.active {
    left: 0px;
    padding: 5px;
  }
}
