.postModal {
  font-family: StarJedi;
  padding: 50px;
  background: rgba(59, 130, 246, 0.5);
  height: 100vh;
  display: grid;
  box-sizing: border-box;
  place-items: center;
}

.postModal__container {
  display: flex;
  height: 90%;
  background: #d7d6d4;
}
.postModal__details_container {
  min-width: 550px;
  width: 800px;
}
.postModal__image_container {
  max-width: 800px;
  max-height: 800px;
  height: 800px;
}
.postModal__image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.postModal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}
.postModal__header_left {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.postModal__header_right {
  display: flex;
  align-items: center;
  padding: 5px;
}

.postModal__text {
  font-weight: normal;
  font-size: 18px;
  color: black;
  padding: 5px 5px 5px 10px;
}
.postModal__text strong {
  color: black;
  font-size: 20px;
  margin-right: 5px;
}
.postModal__icons {
  display: flex;
  padding: 6px;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.num_of_likes {
  font-size: 15px;
  position: absolute;
  bottom: -18px;
  left: 10px;
}
.comment_icon,
.like_icon,
.three_dots_icon {
  height: 2rem;
  width: 2rem;
}
.comment_icon:hover,
.like_icon:hover,
.three_dots_icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.comment_icon:active,
.like_icon:active,
.three_dots_icon:active {
  transform: scale(1);
}

.postModal__addComment {
  display: flex;
  align-items: center;
  gap: 4px;
  border-top: 1px solid;
}
.postModal__addComment_input {
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 5px 5px 5px 10px;
  font-size: 19px;
}
.postModal__addComment_input:focus {
  outline: none;
}
.postModal__addComment_button {
  background: none;
  color: black;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border: none;
  font-family: StarJedi;
  opacity: 0.6;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s ease;
  padding-left: 3px;
  padding-right: 3px;
}
.postModal__addComment_button:hover {
  opacity: 1;
  transform: scale(1.1);
}
.postModal__addComment_button:active {
  transform: scale(0.96);
  border: none;
}
