.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  transition: all 0.3s ease;
  border: 2px transparent solid;
  cursor: pointer;
}
.avatar:hover {
  border: 2px blue solid;
  transform: scale(1.02);
}
.avatar:active {
  transform: scale(0.98);
}
