.App {
  background-image: url("./Assets/Images/wallpaper.jpg");
  background-position: center;
  background-color: #292828;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
